.search-city {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.app-title {
    display: flex;
    justify-content: center;
}

#fiveday-header {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
}

.green {
color: green;
}

.yellow {
color: yellow;
}

.red {
    color: red;
}

#fiveday-container div {
    display: flex;
    justify-content:space-around;
    background-color: aliceblue;
}

#fiveday-container span {
    display: flex;
    justify-content: center;
    padding: 40px;
}

div.col-12.col-md-4 {
    max-width: 100%;
}

h1.app-title {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: aliceblue
    
}